<div class="container mat-elevation-z8">
    <form [formGroup]="processoForm" (ngSubmit)="deletar()">
        <h1>Cadastrar Processo</h1>

        <p>
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>NPU</mat-label>
                <input formControlName="npu" matInput>
                <mat-icon matSuffix>123</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Municipio</mat-label>
                <input formControlName="municipio" matInput placeholder="Municipio">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>UF</mat-label>
                <input formControlName="uf" matInput placeholder="UF">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
        </p>


        <button [disabled]="!processoForm.valid" class="fullWidth" mat-raised-button color="primary">Deletar</button>
        <button routerLink="../../" type="button" class="fullWidth" mat-raised-button color="warn">Cancelar</button>
    </form>
</div>