<div class="container">
    <h1 >Listagem de todos os Processos</h1>
    <button class="mat-elevation-z8" routerLink="create" mat-raised-button color="primary">Novo Processo</button>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
       
            <ng-container matColumnDef="npu">
                <th mat-header-cell *matHeaderCellDef> NPU </th>
                <td mat-cell *matCellDef="let element"> {{element.npu}} </td>
            </ng-container>

            <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef> Municipio </th>
                <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
            </ng-container>
            
            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef> UF </th>
                <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
            </ng-container>

            
            <ng-container matColumnDef="dataCadastro">
                <th mat-header-cell *matHeaderCellDef> Data Cadastro </th>
                <td mat-cell *matCellDef="let element"> {{element.dataCadastro | date:'dd/MM/yyyy'}} </td>
            </ng-container>

    
            <ng-container matColumnDef="dataVisualizacao">
                <th mat-header-cell *matHeaderCellDef> Data da Visualização </th>
                <td mat-cell *matCellDef="let element"> {{element.dataVisualizacao | date:'dd/MM/yyyy'}}  </td>
            </ng-container>

            <ng-container matColumnDef="documentoPath">
                <th mat-header-cell *matHeaderCellDef> Diretorio do documento </th>
                <td mat-cell *matCellDef="let element"> {{element.documentoPath}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element"> 
                    <a routerLink="update/{{element.id}}">
                        <span class="material-icons edit">edit</span>
                    </a>
                    <a routerLink="delete/{{element.id}}">
                        <span class="material-icons delete">delete</span>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
</div>