.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;

}

mat-form-field {
    width: 100%;
}

button {
 width: 100%;
}

.edit {
    color: rgb(39, 134, 211);    
}

.delete {
    color: rgb(192, 26, 67);
}